/* reset */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* styles */
.error-message {
  color: red;
}

.form-group {
  display: flex;
}

.posts {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 8px;
}

.post-title {
  font-size: 16px;
  text-align: center;
}

.post-image {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid #eaeaea;
  object-fit: cover;
}
